@mixin resetbuttoncss {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

@mixin fontbold {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
}

@mixin fontnormal {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
}
@mixin resetfieldsetcss {
  padding: 0;
  margin: 0;
  border: none;
}

@mixin resetullistcss {
  list-style: none;
  padding: 0;
  margin: 0;
}

